*{         /* RESET */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: white;
}
.encabezado{
    background-color: white;
}

.posicionDeLogo{
    width: 130px;
    height: 130px;
    display: block;
    margin-left: 40rem;
    margin-top: 1rem;
}

.linea{
    margin-top: 10px;
}


.lista{
    list-style: none;
    margin-left: 150px;
    margin-top: 10px;
    display: flex;
}

.itemLista{
    font-size: 18px;
    margin: 15px 50px;
    line-height: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.itemLink{
    text-decoration: none;
    color: black;
    padding: 16px 20px;
    border-radius: 3px;
}

.itemLink:hover{
    background-color: #ebebeb;
    transition: 0.2s;
}

.contenedor{
    display: flex;
  
}

h1{
    font-family: 'Poppins', sans-serif;        
    font-style: normal;
    margin-top: 15rem;
    margin-left: 8rem;
    font-size: 50px;
    text-align: center;
    width: 700px;
    
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-left: 5rem;
    text-align: center;
    width: 700px;
    height: 700px;
    margin-top: -380px;
    
}

.posicionFoto{
    display: inline;
    width: 50rem;
    height: 50rem;
    margin-top: 1rem;
}
section{
    margin-left: -30px;
}

article{
    margin-top: -200px;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    margin-left: 31rem;

}

h4{
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    margin-left: 474px; 
    
}

form{
    font-family: 'Poppins', sans-serif;
    margin-left: 32rem;
    font-size: 24px;
    border-color: #ebebeb;
}

.boton{
    width: 55px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    border-color: #ebebeb;
    background-color: #ebebeb;
}

.linea2{
    margin-left: 150px;
    margin-right: 150px;
}

footer{
    background-color: rgba(0, 0, 0, 0.952);
    color: white;
    font-family: 'Rubik', sans-serif;
    margin-top: 60px;
}

h5{
    padding-top: 110px;
    padding-left: 140px;
}

.linkContacto{
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.form2{
    font-family: 'Rubik', sans-serif;
    padding-bottom: 20px;
    
}

.boton2{
    background-color: rgba(0, 0, 0, 0.952);
    color: white;
    font-family: 'Rubik', sans-serif;
    border-color: rgba(0, 0, 0, 0.925);
    width: 70px;
}

.linea3{
    margin-left: 150px;
    margin-right: 150px;
    color: black;
    border-color: black;
    margin-top: 30px;
}

p{
    font-family: 'Rubik', sans-serif;
    margin-left: 40px;
    margin-top: 40px;
    padding-bottom: 20px;
}

