.contenedor {
	display: flex;
	justify-content: flex-start;
}
h1 {
	font-family: $fontFamily1;
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	justify-self: right;
	width: 50%;
	padding-top: 25%;
	padding-left: 11%;
}
.posicionFoto {
	width: 50%;
	padding-top: 10%;
}
h2 {
	font-family: $fontFamily1;
	font-size: 35px;
	text-align: center;
	font-weight: bold;
	width: 70%;
	padding-bottom: 20%;
	padding-top: 10%;
	@include bottom-top-border-thin;
	border-top: none;
	margin: 0 auto;
}
h3 {
	font-family: $fontFamily1;
	font-size: 32px;
	width: 50%;
	margin: 0 auto 20px;
	padding-left: 7%;
	padding-top: 20%;
}
h4 {
	font-family: $fontFamily1;
	font-size: 27px;
	width: 50%;
	margin: 0 auto 20px;
	padding-left: 5%;
}
.form {
	font-family: $fontFamily1;
	font-size: 24px;
	border-color: $borderColor1;
	width: 80%;
	margin: 0 auto;
	padding-left: 17%;
	padding-bottom: 5%;
}
.boton {
	width: 80px;
	text-decoration: none;
	font-family: $fontFamily1;
	border-color: $borderColor1;
	background-color: $backgroundColor2;
}