.h1Nosotros {
	font-weight: bold;
	width: 50%;
	margin: 0 auto;
	padding-left: 0%;
	padding-top: 20%;
	@include bottom-top-border-thin;
	border-top: none;
	padding-bottom: 6%;
}
.sectionNosotros {
	font-size: 28px;
	text-align: center;
	text-decoration: solid;
	padding-top: 10%;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 5%;
	background-image: url(../images/texanasNosotros.jpg);
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: bottom;
	background-size: 90%;
}
.pNosotros {
	width: 90%;
	margin: 0 auto;
	padding-bottom: 5%;
}