$color1: black;
$color2: white;
$fontFamily1: 'Poppins', sans-serif;
$fontFamily2: 'Rubik', sans-serif;
$backgroundColor1: white;
$backgroundColor2: #ebebeb;
$backgroundColor3: rgba(0, 0, 0, 0.952);
$backgroundColor4: rgba(36, 36, 36, 0.699);
$borderColor1: #ebebeb;
$borderColor2: rgba(36, 36, 36, 0.699);  